.categories-list {
  position: relative;
}
.categories-list:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: url("../../images/categories-list-background.jpg") no-repeat;
  background-size: cover;
  opacity: 0.5;
  z-index: -1;
}
.categories-list .category-card {
  margin-bottom: var(--space-x-large);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.categories-list .category-card .image {
  height: 200px;
  width: 311px;
  position: relative;
  display: flex;
  flex-shrink: 0;
}
.categories-list .category-card .image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.categories-list .category-card .image::after {
  content: "";
  position: absolute;
  top: var(--space-medium);
  left: var(--space-medium);
  border: 2px solid var(--color-white);
  width: 279px;
  height: 168px;
}
.categories-list .category-card .details {
  padding-top: var(--space-large);
  text-align: center;
  display: flex;
  flex-direction: column;
}
.categories-list .category-card .details h3 {
  color: var(--color-green);
  margin-bottom: var(--space-large);
}

@media screen and (min-width: 1200px) {
  .categories-list {
    padding-top: var(--space-x-large);
  }
  .categories-list .category-card {
    flex-direction: row;
    gap: var(--space-large);
  }
  .categories-list .category-card .details {
    text-align: left;
    padding-top: 0;
  }
}
