header {
  height: 60px;
  background-color: rgba(255, 255, 255, 0.9);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 1;
  padding: var(--space-medium);
  box-shadow: var(--box-shadow);
}

header .logo {
  height: 37px;
}
header .logo img {
  height: 100%;
}

header nav {
  display: flex;
  gap: var(--space-medium);
}

header nav a {
  color: var(--color-dark-gray);
  transition: var(--transition);
  font-size: 14px;
}

header nav a:hover {
  color: var(--color-orange);
}

@media screen and (min-width: 1200px) {
  header {
    height: 80px;
    padding: var(--space-medium) var(--space-x-large);
  }
  header nav {
    gap: var(--space-x-large);
  }
  header nav a {
    font-size: 18px;
  }
}
