.product-details img {
  width: 100%;
  height: 311px;
  object-fit: cover;
}
.product-details h2 {
  color: var(--color-orange);
  margin: var(--space-x-large) 0 var(--space-medium) 0;
}
.product-details h3 {
  color: var(--color-green);
  margin: var(--space-x-large) 0 var(--space-medium) 0;
}
.product-details ul {
  display: flex;
  flex-direction: column;
  gap: var(--space-small);
  align-items: center;
  justify-content: center;
}
.product-details ul li {
  width: 100%;
  height: 50px;
  border-radius: 25px;
  box-shadow: var(--box-shadow);
  text-align: center;
  padding: var(--space-medium);
}

.product-details table {
  width: 100%;
}
.product-details table tr {
  background: var(--color-white);
  height: 40px;
}
.product-details table tr:nth-child(2n) {
  background: var(--color-orange);
  color: var(--color-white);
}
.product-details table tr td {
  vertical-align: middle;
  padding: var(--space-small);
}

@media screen and (min-width: 1200px) {
  .product-details img {
    height: 450px;
  }
  .product-details ul {
    flex-direction: row;
  }
  .product-details table {
    width: 50%;
  }
}
